

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
    padding-top:0px;
    background-image: url(../images/halftone.png)
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}


.edge_bottom { 
    border-bottom:1px;
    font-weight: bold;
}

.edge_right { 
    border-right:1px;
    font-weight: bold;
}

td{ 
    padding:5px;
    text-align: center;
}

.intro-title { 
     
    margin-top:38px;
    border-top: 5px solid black;
    border-bottom:1px solid black;
    margin-bottom:10px;
}

.intro { 
    margin-top:35px;
    margin-bottom:50px;
    padding-left:30px;
    line-height: 24px;
}

.description { 
    padding-left:10px;
}

.bigger { 
    font-size:18px;
}

.resource_type_1 {background-color: #8dd3c7}    
.resource_type_2 {background-color: #ffffb3}    
.resource_type_3 {background-color: #bebada}    
.resource_type_4 {background-color: #fb8072}    
.resource_type_5 {background-color: #fdb462}    
.resource_type_6 {background-color: #e5c494}    
.resource_type_7 {background-color: #b3de69}   
.resource_type_8 {background-color: #fccde5}
.resource_type_9 {background-color: #ccc}    

.container { 
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.73);
    padding-left:30px;
    background-color:white;
    color:#333;
}
.container p, .container h1, .container h2, .container h4, .container h4, .container span, .container a{
     color:#444;
}



.btn-group { 
    margin-left:-15px;
    margin-bottom:10px;
}

h1 { 
    font-size: 50px;
    font-weight:bold;
}

.grid-item { 

    border:1px solid black; 
    margin: 10px 5px; 
    position:relative;
    height:180px;
    -webkit-box-shadow: 2px 2px 21px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 21px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px -1px rgba(0,0,0,0.75);    
}

.grid-item div{
    margin-left:2px;

} 

.grid-item p{
    font-size:11px;
    margin-left:2px;
    margin-top:6px;
} 


.category-column { 
    width:25%;
    float:left;
}

.sort-container { 
    padding-top:5px;
    padding-bottom:25px;
    text-align: center;
}

.sort-container .btn { 
    font-size:20px;
}

.column-header { 
    height:2em;
    margin-left:6px;
    border-left:1px solid black;
    border-right:1px solid black;
    padding:0px 4px;
    margin-right:5px;
    text-align: center;
}

.fractional_capacity { 
    position:absolute;
    bottom:2px;
    right:2px;
    width:24px;
}



.organisation-structure { 
    position:absolute;
    width:20px;
    top:0px;
    right:0px;
}

.resource-type { 
    position:absolute;
    left:1px;
    bottom:1px;    
}

.name { 
    margin:0px;
    padding:3px;
    
    height:2.5em;
}

.type-label, .exchange-label { 
    font-weight:bold;
}

.grid-item div { 
    font-size:12px;
}








