

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
    padding-top:0px;
}








.resource_type_1 {background-color: #8dd3c7}    
.resource_type_2 {background-color: #ffffb3}    
.resource_type_3 {background-color: #bebada}    
.resource_type_4 {background-color: #fb8072}    
.resource_type_5 {background-color: #fdb462}    
.resource_type_6 {background-color: #e5c494}    
.resource_type_7 {background-color: #b3de69}   
.resource_type_8 {background-color: #fccde5}    

.container { 
-webkit-box-shadow: inset 0px 0px 175px 3px rgba(0,0,0,0.17);
-moz-box-shadow: inset 0px 0px 175px 3px rgba(0,0,0,0.17);
box-shadow: inset 0px 0px 175px 3px rgba(0,0,0,0.17);
background-url: http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=56&opacity=5
}

.btn-group { 
    margin-left:-15px;
}

.grid-item { 

    border:1px solid black; 
    margin: 10px 5px; 
    position:relative;
    height:180px;
}


.category-column { 
    width:25%;
    float:left;
}

.sort-container { 
    padding:10px 3px;
    
}

.column-header { 
    height:2em;
    margin-left:6px;
    border-left:1px solid black;
    border-right:1px solid black;
    padding:0px 4px;
    margin-right:4px;
    text-align: center;
}

.fractional_capacity { 
    position:absolute;
    bottom:2px;
    right:2px;
    width:24px;
}



.organisation-structure { 
    position:absolute;
    width:20px;
    top:0px;
    right:0px;
}

.resource-type { 
    position:absolute;
    left:1px;
    bottom:1px;    
}

.name { 
    margin:0px;
    padding:3px;
    
    height:2.5em;
}

.type-label, .exchange-label { 
    font-weight:bold;
}

.grid-item div { 
    font-size:12px;
}








